
<!DOCTYPE html>
<html lang="en">
  <%- include('./../../partials/head.ejs') %> 
<body>
    <div class="to-the-top"><i id="arrow-up" class="fas fa-chevron-up"></i></div>
    <%- include('./../../partials/social-media-side.ejs') %> 
    <%- include('./../../partials/spinner.ejs') %> 
    <%- include('./../../partials/nav.ejs') %> 

      <div class="service-hero service-in-hero">
        <div class="hero-data">
          <h2 class="service-title">accounting-services</h2>
          <p class="service-paragraph">We are experts in the accounting space. We cover all of the core areas of accounting </p>
        </div>
      </div>
      <div>


 <!-- Why us start -->
 <div class="section why-us wrapper">
  <div class="section__data why_us_data">
    <h1 class="section__data__title">accounting-services</h1>
    <p class="section__data__paragraph">
      A company needs to analyze what are the various
      accounting services it needs and which of those can
      be outsourced. Financial Driving efficiency is high on
      the priority list for business owners who want to use
      a company to lead & audit Finance and Accounting
      processes without losing control over the whole
      process.
      Our experienced accountants focus on the
      preparation of tax returns as well as tax planning for
      future taxable years, or Playing an auditing role on
      your previously established accountancy system and
      sometime we structure the whole system from
      scratch.
      With Proserv, you can always feel save from legal risks
      that your business may face as a result of not
      conforming with governing laws or generally
      accepted accounting principles.
    </p>
  </div>
  <img class="section__img" src="../../imgs/lg/info/why-us.png" />
</div>
<!-- why us end -->

      </div>
       <!-- our services start -->
    <div class="section our-services wrapper">
      <div class="section__data our-services__head">
        <h1 class="our-services__header">More Services</h1>
        <h2 class="our-services__sub-header">Here's more of our services</h2>
      </div>
      <div class="our-services__body">
        <!-- services slider -->
        <div class="owl-carousel ow-services owl-theme">
          <div class="item">
            <div class="service-card">
              <img
                src="../../imgs/lg/services/socialInsurence.jpg"
                class="sercive-card__img"
              />
              <h1 class="sercive-card__title">Social Insurance</h1>
              <p class="service-card__paragraph">
                Proserv provides in depth consultations and several operational
                services that secures your business against the rapid variances
                in social insurance law applications.
              </p>
               <a href="social-insurence-service" class="service-card__btn">Read More</a>
            </div>
          </div>
          <div class="item">
            <div class="service-card">
              <img
                src="../../imgs/lg/services/socialInsurence.jpg"
                class="sercive-card__img"
              />
              <h1 class="sercive-card__title">Social Insurance</h1>
              <p class="service-card__paragraph">
                Proserv provides in depth consultations and several operational
                services that secures your business against the rapid variances
                in social insurance law applications.
              </p>
               <a href="social-insurence-service" class="service-card__btn">Read More</a>
            </div>
          </div>
          <div class="item">
            <div class="service-card">
              <img
                src="../../imgs/lg/services/socialInsurence.jpg"
                class="sercive-card__img"
              />
              <h1 class="sercive-card__title">Social Insurance</h1>
              <p class="service-card__paragraph">
                Proserv provides in depth consultations and several operational
                services that secures your business against the rapid variances
                in social insurance law applications.
              </p>
               <a href="social-insurence-service" class="service-card__btn">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- our services end -->

      

      <!-- Why us start -->
    <div class="section why-us wrapper">
      <div class="section__data why_us_data">
        <h1 class="section__data__title">Why us ?</h1>
        <p class="section__data__paragraph">
          Professional Service (Proserv) has been leading the Human Resources
          services market since 2010. Serving more than 600 multinational,
          governmental and domestic businesses and entities all over the region.
          Proserv has been tackling business challenges that faced its partners’
          day-to-day work while believing in mutual benefit and service
          excellence as a core value. We also believe that partners satisfaction
          is the roadmap to our success. Proserv’s vast experience is gained
          through real-life well planned business practices, hard work and
          dedication. We put our team at the tip of your finger as in Proserv
          “You always come first” We are always enthusiastic, taking
          initiatives. We believe in relationships, not just doing business. We
          value teamwork, realizing that we are stronger together than as
          individuals. We take seriously the promises we make. We are passionate
          and driven to excel. With us it has never been about being the
          biggest. It has always been about being the best and doing the right
          thing.
        </p>
      </div>
      <img class="section__img" src="../../imgs/lg/info/why-us.png" />
    </div>
    <!-- why us end -->

      <%- include('./../../partials/footer.ejs') %> 
      <%- include('./../../partials/scripts.ejs') %> 
</body>


</html>