
<!DOCTYPE html>
<html lang="en">
  <%- include('./../../partials/head.ejs') %> 
  <style>
    .nav-wrapper{
      top: 0;
    }
  </style>
<body>
  <div class="to-the-top"><i id="arrow-up" class="fas fa-chevron-up"></i></div>
  <%- include('./../../partials/social-media-side.ejs') %> 
  <%- include('./../../partials/spinner.ejs') %> 

  <%- include('./../../partials/nav.ejs') %> 



      <div style="margin-top: 200px;text-align: center;" class="service-hero">
        <div class="hero-data">
          <h2 class="service-title">the blog is under developing</h2>
          <p class="service-paragraph">We are experts in the HR space. We cover all of the core areas of HR </p>
        </div>
      </div>
      <div>




        <%- include('./../../partials/footer.ejs') %> 
        <%- include('./../../partials/scripts.ejs') %> 
</body>

</html>