<!DOCTYPE html>
<html lang="en">
    <%- include('./../../partials/head.ejs') %> 
<body>
    <div class="to-the-top"><i id="arrow-up" class="fas fa-chevron-up"></i></div>
    <%- include('./../../partials/social-media-side.ejs') %> 
    <%- include('./../../partials/spinner.ejs') %> 

    <%- include('./../../partials/nav.ejs') %> 


    <div class="section our_vision wrapper">
      <div id="our_vision_body">
        <h1 class="section__data__title ">Our Vision</h1>
        <p class="section__data__paragraph">
          Professional Service (Proserv) has been leading the Human Resources
          services market since 2010. Serving more than 600 multinational,
          governmental and domestic businesses and entities all over the region.
          Proserv has been tackling business challenges that faced its partners’
          day-to-day work while believing in mutual benefit and service
          excellence as a core value. We also believe that partners satisfaction
          is the roadmap to our success. Proserv’s vast experience is gained
          through real-life well planned business practices, hard work and
          dedication. We put our team at the tip of your finger as in Proserv
          “You always come first” We are always enthusiastic, taking
          initiatives. We believe in relationships, not just doing business. We
          value teamwork, realizing that we are stronger together than as
          individuals. We take seriously the promises we make. We are passionate
          and driven to excel. With us it has never been about being the
          biggest. It has always been about being the best and doing the right
          thing.
        </p>
      </div>
      <img class=".section__img our_vision__img" src="./imgs/lg/our_vision.jpg" />
    </div>
    <%- include('./../../partials/footer.ejs') %> 
    <%- include('./../../partials/scripts.ejs') %> 
</body>
</html>